<div class="post-skeleton w-max animate-pulse inline-block p-8 shadow-md rounded-3xl">
  <div class="rounded-full bg-blue-400 h-8 w-80% mb-2"></div>
  <div class="rounded-full bg-blue-400 h-8 w-80% mb-4"></div>
  <div class="rounded-3xl bg-blue-400" style="width: 320px; height: 320px;"></div>
</div>
